@let ctrls = expenseForm.controls; @let basicCtrls
=expenseForm.controls.basicData.controls;

<form [formGroup]="expenseForm" (ngSubmit)="onFormSubmit()">
  <div class="basic-data" formGroupName="basicData">
    <div class="form-group">
      <label for="expense-title">Title</label>
      <input
        formControlName="title"
        type="text"
        class="form-control"
        id="expense-title"
        autocomplete="off"
      />
    </div>
    @if (basicCtrls.title.touched) { @if (basicCtrls.title.errors?.required) {
    <p class="help-block">Title is required</p>
    } @if (basicCtrls.title.errors?.blockedWord) {
    <p class="help-block">This type of expense is not allowed</p>
    } }
    <div class="form-group">
      <label for="expense-amount">Amount</label>
      <input
        formControlName="amount"
        type="number"
        class="form-control"
        id="expense-amount"
        autocomplete="off"
      />
    </div>
    @if (basicCtrls.amount.touched) { @if (basicCtrls.amount.errors?.required) {
    <p class="help-block">Amount is required</p>
    } @if (basicCtrls.amount.errors?.min || basicCtrls.amount.errors?.max) {
    <p class="help-block">Amount must be betewen 1 and 500</p>
    } }

    <div class="form-group">
      <label for="expense-date">Date</label>
      <input
        formControlName="date"
        type="date"
        class="form-control"
        id="expense-date"
        autocomplete="off"
      />
    </div>
  </div>
  <div class="form-group">
    <label for="expense-priority"></label>
    <select
      formControlName="priority"
      type="text"
      class="form-control"
      id="expense-priority"
    >
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>
  </div>
  <div class="form-group">
    <label for="expense-comment">Comment</label>
    <textarea
      formControlName="comment"
      class="form-control"
      id="expense-comment"
      rows="5"
      placeholder="Please enter your comment here..."
    ></textarea>
    <p>{{ ctrls.comment.value?.length }} / {{ maxCommentLength }}</p>
  </div>
  <div class="form-group">
    @for (type of paymentTypes; track type) {
    <div>
      <input
        formControlName="type"
        type="radio"
        [id]="type + '-radio'"
        name="type"
        [value]="type"
      />
      <label [htmlFor]="type + '-radio'">{{ type | titlecase }}</label>
    </div>
    }
  </div>

  <button class="btn" type="submit">Submit</button>
  <button class="btn" type="button" (click)="populateForm()">
    Load Form With Data
  </button>
  <!-- <button [disabled]="expenseForm.invalid" class="btn" type="submit">
    Submit
  </button> -->
</form>
