.main {
  margin: 0 auto;
  max-width: 1100px;
  display: grid;
  justify-items: center;

  .users-container {
    display: grid;
  }

  .form-control {
    background-color: #dfe6e9;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    width: 400px;
    border: 2px solid #2d3436;

    .input {
      font-size: 20px;
      padding: 5px 0px;
      text-align: center;
      width: 100%;
      border: 1.5px solid #636e72;
    }
  }
}
