<form #expenseForm="ngForm" (ngSubmit)="onFormSubmit(expenseForm)">
  <div class="basic-data">
    <div class="form-group">
      <label for="expense-title">Title</label>
      <input
        type="text"
        ngModel
        name="expenseTitle"
        class="form-control"
        id="expense-title"
        autocomplete="off"
        required
        #expenseTitle="ngModel"
      />
    </div>
    @if (expenseTitle.invalid && expenseTitle.touched) {
    <p class="help-block">Title is required</p>
    }
    <div class="form-group">
      <label for="expense-amount">Amount</label>
      <input
        type="number"
        ngModel
        name="expenseAmount"
        class="form-control"
        id="expense-amount"
        autocomplete="off"
        required
        min="1"
        max="500"
        #expenseAmount="ngModel"
      />
    </div>
    @if (expenseAmount.touched) { @if (expenseAmount.errors?.["required"]) {
    <p class="help-block">Amount is required</p>
    } @if (expenseAmount.errors?.["min"] || expenseAmount.errors?.["max"]) {
    <p class="help-block">Amount must be between 1 and 500</p>
    } }

    <div class="form-group">
      <label for="expense-date">Date</label>
      <input
        type="date"
        ngModel
        name="expenseDate"
        class="form-control"
        id="expense-date"
        autocomplete="off"
      />
    </div>
  </div>
  <div class="form-group">
    <label for="expense-priority"></label>
    <select
      ngModel
      name="expensePriority"
      type="text"
      class="form-control"
      id="expense-priority"
    >
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>
  </div>
  <div class="form-group">
    <label for="expense-comment">Comment</label>
    <textarea
      ngModel
      name="expenseComment"
      class="form-control"
      id="expense-comment"
    ></textarea>
  </div>
  <div class="form-group">
    @for (type of paymentTypes; track type) {
    <div>
      <input
        type="radio"
        [id]="type + '-radio'"
        ngModel
        name="expenseType"
        [value]="type"
      />
      <label [htmlFor]="type + '-radio'">{{ type | titlecase }}</label>
    </div>
    }
  </div>
  <button class="btn" type="submit">Submit</button>
</form>
