.user {
  border: 1px solid #2d3436;
  padding: 15px;
  margin: 10px;
  background-color: #f9fdff;
  border-radius: 4px;

  .details-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid #a7a9a9;

    &:nth-of-type(2) {
      border-bottom: none;
    }
  }

  .user-header {
    display: flex;
    font-size: 22px;
    padding-bottom: 15px;
    border-bottom: 1px solid #a7a9a9;

    .user-id {
      font-size: 45px;
      margin: 0 20px 0 10px;
    }
  }

  .address-container {
    .address-content {
      display: flex;
      gap: 20px;
    }

    > h3 {
      cursor: pointer;
    }
    > h3:hover {
      color: darkgray;
    }
  }
}
