<section class="container movie-list">
  <div class="movies-heading">
    <h2>Reviews</h2>
    <p>
      Total Likes:
      <strong>
        {{ totalLikes() }} <i class="fa-regular fa-thumbs-up"></i>
      </strong>
      Avg rating:
      <strong
        >{{ avgRating().toFixed() }} <i class="fa-regular fa-star"></i
      ></strong>
    </p>
  </div>

  <div class="sort-container">
    <span><strong>Sort By:</strong></span>
    <app-button
      text="Rating"
      (btnClick)="onSortClick('rating')"
      [style]="{ padding: '5px 10px' }"
    />
    <app-button
      text="Like Count"
      (btnClick)="onSortClick('likeCount')"
      [style]="{ padding: '5px 10px' }"
    />
    <app-button
      text="Reset"
      (btnClick)="resetSort()"
      [style]="{ padding: '5px 10px' }"
    />
  </div>

  <div class="list-content">
    <ul>
      @for (movie of movies(); track movie.id) {
        <li (click)="onMovieClick(movie)">
          <app-movie-item [movie]="movie" />
        </li>
      }
    </ul>
  </div>
</section>
